@charset "UTF-8";
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #A2C1E0;
}
.container {
	width: 72%;
	margin: 0 auto;
}
.header {
	background: #615238;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #A19685;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #E0C9A2;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.image {
	background: #E0C9A2;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #777777;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
